<!-- recipient_detail.html -->
{% extends 'client_connect/base.html' %}

{% block title %}Информация о получателе{% endblock %}


{% block content %}
<div class="container">
    <h2>{{ recipient.email }}</h2>
    <p>Ф.И.О.: {{ recipient.full_name }}</p>
    <p>Комментарий: {{ recipient.comment }}</p>

    <a href="{% url 'client_connect:recipient_edit' recipient.pk %}" class="btn btn-primary">Изменить</a>
    <a href="{% url 'client_connect:recipients_list' %}" class="btn btn-secondary">К списку получателей</a>
    <a href="{% url 'client_connect:recipient_delete' recipient.pk %}" class="btn btn-danger">Удалить</a>
</div>
{% endblock %}