<!-- message_detail.html -->
{% extends 'client_connect/base.html' %}

{% block title %}Информация о сообщении{% endblock %}


{% block content %}
<div class="container">
    <h1>{{ message.subject }}</h1>
    <p>{{ message.body }}</p>
    <a href="{% url 'client_connect:message_edit' message.pk %}" class="btn btn-primary">Изменить</a>
    <a href="#" class="btn btn-secondary">Назад</a>
    <a href="{% url 'client_connect:message_delete' message.pk %}" class="btn btn-danger">Удалить</a>
</div>
{% endblock %}

<!-- {% url 'client_connect:message_list' %} -->
