<!-- message_form.html -->
{% extends 'client_connect/base.html' %}

{% block title %}Работа с сообщениями{% endblock %}

{% block content %}
<div class="container mt-5">
    <form method="post" action="" class="form-floating" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
            {% if object %}Изменить{% else %}Добавить{% endif %}
        </button>
        {% if object %}
        <a href="{% url 'client_connect:message_detail' message.pk %}" class="btn btn-secondary">Отмена</a>
        {% else %}
        <a href="{% url 'client_connect:messages_list' %}" class="btn btn-secondary">Отмена</a>
        {% endif %}
    </form>
</div>
{% endblock %}